{% extends 'base.html.twig' %}

{% block title %}Hello NewPrivateMessageController!{% endblock %}

{% block body %}
    <h1>Create new private message</h1>

    {{ include('new_private_message/_form.html.twig') }}
{% endblock %}
