<form method="post" action="{{ path('app_friend_request_accept', {'id': request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Accept</button>
</form>
