<form method="post" action="{{ path('app_friend_request_deny', {'id': request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Deny</button>
</form>
