{% extends 'base.html.twig' %}

{% block title %}Hello MyPrivateMessageController!{% endblock %}

{% block body %}
    <h1>List private message</h1>

    {% if MPList == [] %}
        Vous ne pouve
    {% else %}
        {{ include('my_private_message/_form.html.twig') }}
    {% endif %}

{% endblock %}
