{% extends 'base.html.twig' %}

{% block title %}Edit GlobalMessage{% endblock %}

{% block body %}
    <h1>Edit GlobalMessage</h1>

    {{ include('global_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_global_message_index') }}">back to list</a>

    {{ include('global_message/_delete_form.html.twig') }}
{% endblock %}
