{% extends 'base.html.twig' %}

{% block title %}New GlobalMessage{% endblock %}

{% block body %}
    <h1>Create new GlobalMessage</h1>

    {{ include('global_message/_form.html.twig') }}

    <a href="{{ path('app_global_message_index') }}">back to list</a>
{% endblock %}
